# Untracked Folders #

deprecated/
testing_log/
resources/weather_status/*
!resources/weather_status/.gitkeep
logger/*.log
**/__pycache__

# Untracked Files #

main/controller/focuser.py
main/observing/guider.py
test/TOI*.json
test/__init__.pyc
test/threading_practice.py
test/helpfullink.txt


