# Untracked Folders #

deprecated/
testing_log/
resources/weather_status/*
!resources/weather_status/.gitkeep
test/*
!test/test.json
!test/json_test_driver.py
logger/*.log
logger/*.log.*
**/__pycache__

# Untracked Files #

test/helpfullink.txt
crash_guide.txt

