# Untracked Folders #

deprecated/
testing_log/
resources/weather_status/*
!resources/weather_status/.gitkeep
test/*
!test/test.json
!test/json_test_driver.py
!test/guider_test_driver.py
!test/focuser_test_driver.py
logger/*.log
logger/*.log.*
observation_tickets/*
!observation_tickets/Observation_ticket_creator.pyw
**/__pycache__

# Untracked Files #

test/helpfullink.txt
crash_guide.txt

