altgraph==0.17.3
astroid==2.15.2
astropy==6.1.1
astropy-iers-data==0.2024.6.24.0.31.11
astroquery==0.4.6
barycorrpy==0.4.4
beautifulsoup4==4.12.0
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
dill==0.3.6
fonttools==4.39.3
future==0.18.3
html5lib==1.1
idna==3.4
importlib-metadata==6.1.0
inputimeout==1.0.4
iso8601==2.1.0
isort==5.12.0
jaraco.classes==3.2.3
jplephem==2.18
keyring==23.13.1
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
llvmlite==0.39.1
macholib==1.16.2
matplotlib==3.7.1
mccabe==0.7.0
more-itertools==9.1.0
mttkinter==0.6.1
numba==0.56.4
numpy==1.23.5
opencv-python==4.10.0.84
packaging==24.1
pandas==2.0.0
pefile==2023.2.7
photutils==1.13.0
Pillow==9.5.0
platformdirs==3.2.0
psutil==6.0.0
pyerfa==2.0.1.4
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pylint==2.17.2
pyparsing==3.0.9
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3
pyvo==1.4.1
pywin32==306
pywin32-ctypes==0.2.0
PyYAML==6.0.1
requests==2.28.2
scipy==1.10.1
sgp4==2.23
six==1.16.0
skyfield==1.49
soupsieve==2.4
tomli==2.0.1
tomlkit==0.11.7
tqdm==4.66.4
typed-ast==1.5.4
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.6.3
webencodings==0.5.1
wincertstore==0.2
winregistry==1.1.1
wrapt==1.15.0
zipp==3.15.0