altgraph>=0.17
astroid>=2.4.2
astropy>=4.0.1.post1
astroquery>=0.4.1
barycorrpy>=0.4.1
colorama>=0.4.3
future>=0.18.2
isort>=4.3.21
lazy-object-proxy>=1.4.3
macholib>=1.11
matplotlib>=3.2.2
mccabe>=0.6.1
mttkinter>=0.6.1
numpy>=1.19.1
numba>=0.50.1
opencv-python>=4.10.0.84
pefile>=2019.4.18
photutils>=0.7.2
pandas>=1.2.0
pillow>=7.2.0
psutil>=6.0.0
PyInstaller>=3.6
pylint>=2.5.3
pyserial>=3.4
python-dateutil>=2.8.1
pytz>=2020.1
pywin32>=227
pywin32-ctypes>=0.2.0
requests>=2.24.0
scipy>=1.5.0
setuptools>=49.2.0
six>=1.15.0
skyfield>=1.49
typed-ast>=1.4.1
tqdm>=4.66.4
winregistry>=0.8.3
wrapt>=1.11.2