{
    "total_run_time_seconds": 0.0,
    "image_stack_time_seconds": 1.0,
    "take_calibration_images": false,
    "data_directory": "data",
    "filename_prefix": "image-",
    "enable_compression": true,
    "wait_for_cooler_settle": true,
    "startup_only": false
}